/* .right-section{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
} */
.detail-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.row{
    border-bottom: 1px solid darkgray;
    display: flex;
    justify-content: space-between;
    padding: 5px;

}
.row span{
    font-weight: bold;
    font-size: 18px;
}
.row p{
    font-size: 18px;
    font-weight: 400;

}
